# DAML artifacts
.daml/
daml.js/
build/
*.log
log/

# Node artifacts
node_modules/
package-lock.json
yarn.lock
dist/

# Custom artifacts
logs/

# Local config
.vscode/
.DS_Store
.env
.secrets/

# UI
.next/
next-env.d.ts
